
.inicio{
    background-color: $color-primario;
    width: 100%;
    padding: 0px;

    #banner{
    width: 1300px;
    height: 350px;
    background-image: url(../imagenes/banner-marco-deportes-FB-03.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    font-size: 100%;}

    .Texto-Introduccion{
        text-align: center;
        margin-left: 20px;
        font-weight: bold;
    }
    div{    
        h1{text-align: center;}
        }

    #carouselExampleRide{
        margin: 40px;
        width: 1200px;
        height: 700px;
        align-items: center;

        .carousel-inner{
            .carousel-item{
                height: 600x;

                img{
                    margin: auto;
                    height: 100%;
                    width: 100%;
                }
            }
        }

        .carousel-control-next, .carousel-control-prev{
            height: 105%;
        }
    }

    .card{
        padding: 5px;
        margin-bottom: 10px;
    }

    h2{
        text-align: center;
        font-size: larger;
        font-weight: bolder;
    }
    }