.muestras{
    
#tarjeta-muestras{
      
.muestras__titulo{

        position: -20px -300px;
        text-align: center;
        margin: 20px;
}

.flex-container {
    background-color:$color-primario; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 900px;
    padding: 20px;
    justify-content: center;
}

.flex-item {

    background-color: rgba(0, 0, 0, 0.644);
    width: 42%;
    height: 350px;
    margin: 20px;
    
    P{
        font-size: 30px;
        text-align: center;
        color: white;
    }
}

.flex-item__imagen {
    width: 100%    ;
}
  }
}


@media (max-width:576px) {
.muestras{
#tarjeta-muestras{
     .flex-item {
        width: 80%;
     }
     .flex-container {
        padding: 0px;
    }
    .flex-item {
        height: 275px;
    }
    }}
    main {
        height: 900px;
        width: 378px;
    }


}
