#Talles {
    padding: 20px;
    margin: 20px;
    display: block;
    background-color: rgba(0, 0, 0, 0.445);
    overflow: hidden;
    position: static;
    gap: 20px;
    color: white;
    font-size: medium;
  }

  .Main-talles{
    background-color: $color-primario;
  }

  .table{
    color: white;
  }

  @media (max-width:576px) {
  h1, h2 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 40px;
    text-align: center;
}
main {
  height: 1600px;
  width: 378px;
}
}